@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
}
@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
}
@font-face {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
}
@font-face {
  font-family: "RobotoCondensed-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff");
}
@font-face {
  font-family: "Dosis-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Dosis-Medium.woff2") format("woff2"), url("../fonts/Dosis-Medium.woff") format("woff");
}
@font-face {
  font-family: "Dosis-Light";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Dosis-Light.woff2") format("woff2"), url("../fonts/Dosis-Light.woff") format("woff");
}
@font-face {
  font-family: "Dosis-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Dosis-Regular.woff2") format("woff2"), url("../fonts/Dosis-Regular.woff") format("woff");
}
.team_button, .call_btn, .call_title {
  font-family: "Roboto-Medium";
  font-weight: 500;
}

.title {
  font-family: "RobotoCondensed-Regular";
  font-weight: 400;
}

.news_item-title, .project_item-link, .services_item-link, .services_item-title {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
}

.services_item-text {
  font-family: "Dosis-Regular";
  font-weight: 400;
}

@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
}
@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
}
@font-face {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
}
@font-face {
  font-family: "RobotoCondensed-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff");
}
@font-face {
  font-family: "Dosis-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Dosis-Medium.woff2") format("woff2"), url("../fonts/Dosis-Medium.woff") format("woff");
}
@font-face {
  font-family: "Dosis-Light";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Dosis-Light.woff2") format("woff2"), url("../fonts/Dosis-Light.woff") format("woff");
}
@font-face {
  font-family: "Dosis-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Dosis-Regular.woff2") format("woff2"), url("../fonts/Dosis-Regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
}
@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
}
@font-face {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
}
@font-face {
  font-family: "RobotoCondensed-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff");
}
@font-face {
  font-family: "Dosis-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Dosis-Medium.woff2") format("woff2"), url("../fonts/Dosis-Medium.woff") format("woff");
}
@font-face {
  font-family: "Dosis-Light";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Dosis-Light.woff2") format("woff2"), url("../fonts/Dosis-Light.woff") format("woff");
}
@font-face {
  font-family: "Dosis-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Dosis-Regular.woff2") format("woff2"), url("../fonts/Dosis-Regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
}
@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
}
@font-face {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
}
@font-face {
  font-family: "RobotoCondensed-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff");
}
@font-face {
  font-family: "Dosis-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Dosis-Medium.woff2") format("woff2"), url("../fonts/Dosis-Medium.woff") format("woff");
}
@font-face {
  font-family: "Dosis-Light";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Dosis-Light.woff2") format("woff2"), url("../fonts/Dosis-Light.woff") format("woff");
}
@font-face {
  font-family: "Dosis-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Dosis-Regular.woff2") format("woff2"), url("../fonts/Dosis-Regular.woff") format("woff");
}
.team_button, .call_btn, .call_title {
  font-family: "Roboto-Medium";
  font-weight: 500;
}

.title {
  font-family: "RobotoCondensed-Regular";
  font-weight: 400;
}

.news_item-title, .project_item-link, .services_item-link, .services_item-title {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
}

.services_item-text {
  font-family: "Dosis-Regular";
  font-weight: 400;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  cursor: pointer;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: "Roboto-Regular", "Arial", "sans-serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #9B9B9B;
}

.container {
  padding: 0 20px;
}

@media (min-width: 640px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}
@media (min-width: 1024px) {
  .container {
    padding: 0 50px;
  }
}
@media (min-width: 1440px) {
  .container {
    padding: 0 60px;
  }
}
.title {
  font-size: 24px;
  line-height: 24px;
  position: relative;
  padding-bottom: 28px;
}
.title::after {
  content: "";
  width: 50px;
  height: 8px;
  background-color: #2B4074;
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}

@media (min-width: 640px) {
  .title {
    font-size: 48px;
    line-height: 52px;
  }
}
.header {
  background-color: #2B4074;
}
.header_inner {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 640px) {
  .header_inner {
    min-height: 100px;
  }
}
.menu_btn {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #fff;
  border: none;
  position: relative;
}
.menu_btn::after {
  top: 15px;
  left: 14px;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #2B4074;
  position: absolute;
  box-shadow: 0 4px 0 0 #2B4074, 0 8px 0 0 #2B4074;
}

.head {
  background-image: url("../images/bd-slider.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  min-height: 193px;
  background-size: cover;
}

@media (min-width: 640px) {
  .head {
    min-height: 386px;
  }
}
.top-slider {
  background: rgba(33, 33, 33, 0.5);
}
.top-slider_item {
  color: #fff;
  text-align: center;
  min-height: 193px;
}
.top-slider_title {
  font-family: "RobotoCondensed-Regular";
  line-height: 28px;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 36px 0 24px;
  max-width: 243px;
  margin: auto;
  position: relative;
}
.top-slider_title::after {
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  width: 61px;
  height: 8px;
  background-color: #4a4a4a;
  position: absolute;
  margin: 0 auto;
}
.top-slider_text {
  display: none;
}
.top-slider_btn {
  display: none;
}

.slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}
.slick-dots .slick-active button {
  background-color: transparent;
  border: 1px solid #476e4d;
}
.slick-dots button {
  font-size: 0;
  border: none;
  background-color: #2B4074;
  padding: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
}

@media (min-width: 640px) {
  .top-slider_item {
    min-height: 386px;
  }
  .top-slider_title {
    font-size: 60px;
    line-height: 60px;
    padding: 50px 0 15px;
    margin: 0 auto 30px;
    max-width: 520px;
  }
  .top-slider_btn {
    display: block;
    font-size: 18px;
    line-height: 18px;
    color: #F9F6E5;
    background-color: #2B4074;
    width: 200px;
    height: 50px;
    margin: 0 auto 113px;
    padding: 16px 45px;
    border: none;
    border-radius: 3px;
  }
  .top-slider .slick-dots {
    bottom: 50px;
  }
  .top-slider .slick-arrow {
    width: 56px;
    height: 56px;
    border: none;
    position: absolute;
    right: 0;
    z-index: 5;
  }
  .top-slider .slick-prev {
    background-color: #2B4074;
    top: calc(50% - 56px);
  }
  .top-slider .slick-next {
    background-color: #F9F6E5;
    bottom: calc(50% - 56px);
  }
}
@media (min-width: 768px) {
  .top-slider_item {
    min-height: 465px;
  }
  .top-slider_title {
    margin: 0 auto 0;
    padding: 87px 0 0;
  }
  .top-slider_title::after {
    display: none;
  }
  .top-slider_text {
    padding: 25px 0 32px;
    font-family: "RobotoCondensed-Regular";
    line-height: 20px;
    font-size: 18px;
    font-weight: 400px;
    display: block;
    max-width: 587px;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .top-slider_item {
    min-height: 618px;
  }
  .top-slider_title {
    padding: 101px 0 0;
    font-size: 84px;
    line-height: 84px;
    letter-spacing: 2px;
    max-width: 750px;
  }
  .top-slider .slick-dots {
    bottom: 80px;
  }
}
@media (min-width: 1440px) {
  .top-slider_item {
    min-height: 668px;
  }
  .top-slider_title {
    padding: 107px 0 0;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: 2px;
    max-width: 750px;
  }
  .top-slider_text {
    font-size: 24px;
    line-height: 24px;
    max-width: 886px;
  }
  .top-slider .slick-dots {
    bottom: 80px;
  }
  .top-slider .slick-arrow {
    width: 70px;
    height: 70px;
  }
  .top-slider .slick-prev {
    top: calc(50% - 70px);
  }
  .top-slider .slick-next {
    bottom: calc(50% - 70px);
  }
}
.call {
  background-color: #2B4074;
  text-align: center;
  color: #fff;
  padding: 40px 0;
}
.call_title {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 10px;
}
.call_text {
  margin-bottom: 40px;
}
.call_btn {
  padding: 16px 15px;
  background-color: #F9F6E5;
  color: #2B4074;
  font-size: 18px;
  line-height: 18px;
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .call {
    text-align: left;
  }
  .call_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .call_box {
    max-width: 427px;
  }
  .call_text {
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .call_box {
    max-width: 695px;
  }
}
@media (min-width: 1440px) {
  .call_inner {
    padding: 0 80px;
  }
  .call_box {
    max-width: 796px;
  }
}
.services {
  text-align: center;
  padding: 25px 0 40px;
}
.services_title {
  margin-bottom: 47px;
  color: #2B4074;
}
.services_descr {
  line-height: 24px;
  font-size: 20px;
  color: #4a4a4a;
  margin-bottom: 21px;
}
.services_text {
  color: #797979;
  margin-bottom: 40px;
  line-height: 17px;
  font-size: 15px;
}
.services_item {
  min-height: 307px;
  border: 1px solid #F9F6E5;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}
.services_item:last-child {
  border-bottom: 1px solid #F9F6E5;
}
.services_item:hover .services_item-text,
.services_item:hover .services_item-link {
  opacity: 1;
  height: auto;
  overflow: visible;
}
.services_item:hover .services_item-img {
  margin-bottom: 14px;
}
.services_item:hover .services_item-title {
  margin-bottom: 33px;
}
.services_item:hover .services_item-inner {
  border: 4px solid #2B4074;
  margin: 0;
  min-height: 277px;
}
.services_item-inner {
  padding: 36px 25px 24px;
  transition: all 0.3s;
}
.services_item-img {
  margin-bottom: 30px;
}
.services_item-title {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #4a4a4a;
  margin: auto;
}
.services_item-text, .services_item-link {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.3s;
}
.services_item-text {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 22px;
}
.services_item-link {
  color: #2B4074;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media (min-width: 640px) {
  .services {
    padding: 25px 0 0;
  }
  .services_title {
    margin-bottom: 20px;
    padding-bottom: 0;
  }
  .services_title::after {
    display: none;
  }
  .services_descr {
    font-size: 24px;
    padding-bottom: 41px;
    margin-bottom: 30px;
    position: relative;
  }
  .services_descr::after {
    content: "";
    width: 100px;
    height: 8px;
    background-color: #2B4074;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .services_text {
    line-height: 24px;
    font-size: 18px;
  }
  .services_items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
  }
  .services_item {
    width: 50%;
  }
  .services_item:nth-child(even) {
    border-left: none;
  }
  .services_item:last-child {
    border-bottom: none;
  }
  .services_item-inner {
    padding: 39px 45px 25px;
  }
}
@media (min-width: 768px) {
  .services {
    padding: 50px 0 0;
  }
  .services_title {
    margin-bottom: 30px;
  }
  .services_descr {
    text-align: left;
  }
  .services_descr::after {
    margin-left: 0;
  }
  .services_text {
    margin-bottom: 27px;
    text-align: left;
  }
  .services_items {
    margin: 0 -40px;
  }
  .services_item {
    min-height: 334px;
  }
  .services_item:hover .services_item-inner {
    min-height: 304px;
  }
  .services_item-inner {
    padding: 39px 67px 31px;
  }
}
@media (min-width: 1024px) {
  .services {
    padding: 52px 0 0;
  }
  .services_title {
    margin-bottom: 60px;
  }
  .services_descr {
    padding-bottom: 46px;
    margin-bottom: 34px;
  }
  .services_text {
    margin-bottom: 32px;
    max-width: 608px;
  }
  .services_items {
    margin: 0 -50px;
  }
  .services_item {
    width: 25%;
    min-height: 270px;
  }
  .services_item:nth-child(2), .services_item:nth-child(6) {
    border-right: none;
  }
  .services_item:hover .services_item-inner {
    min-height: 255px;
  }
  .services_item-inner {
    padding: 21px 13px 16px;
  }
}
@media (min-width: 1440px) {
  .services {
    padding: 0;
  }
  .services_inner {
    margin: 0 -60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .services_head {
    padding-left: 62px;
  }
  .services_title {
    text-align: left;
    margin-top: 94px;
    margin-bottom: 64px;
  }
  .services_descr {
    padding-bottom: 38px;
    margin-bottom: 34px;
    max-width: 400px;
  }
  .services_text {
    margin-bottom: 134px;
    max-width: 351px;
  }
  .services_items {
    margin: 0;
    width: 64%;
  }
  .services_item {
    padding: 10px;
    width: 25%;
    min-height: 277px;
  }
  .services_item:nth-child(2), .services_item:nth-child(6) {
    border-right: none;
  }
  .services_item:hover .services_item-inner {
    min-height: 255px;
  }
  .services_item-inner {
    padding: 21px 13px 16px;
  }
}
.project {
  text-align: center;
  padding: 20px 0;
  background: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0) 100%);
}
.project_title {
  color: #fff;
  margin-bottom: 40px;
}
.project_title::after {
  background-color: #fff;
}
.project_item-img {
  min-height: 255px;
  border-radius: 4px;
  padding: 12px 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.project_item-img:hover .project_item-inner {
  opacity: 1;
}
.project_item-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: rgba(249, 246, 229, 0.83);
  min-height: 277px;
  background-repeat: 4px;
  opacity: 0;
  transition: all 0.5px;
}
.project_item-info, .project_item-zoom {
  width: 32px;
  height: 32px;
  margin: 0 7px;
}
.project_item-info img, .project_item-zoom img {
  max-width: 100%;
  max-height: 100%;
}
.project_item-link {
  display: block;
  padding: 20px 0;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #2B4074;
}

@media (min-width: 640px) {
  .project {
    padding: 40px 0 20px;
  }
  .project_title {
    font-size: 48px;
    line-height: 56px;
  }
  .project_title::after {
    width: 100px;
  }
  .project_item-img {
    padding: 21px 24px;
    min-height: 460px;
  }
  .project_item-inner {
    min-height: 417px;
  }
  .project_item-info, .project_item-zoom {
    width: 62px;
    height: 62px;
    margin: 0 12px;
  }
  .project_item-link {
    font-size: 20px;
    line-height: 23px;
  }
}
@media (min-width: 768px) {
  .project {
    padding: 80px 0 50px;
  }
  .project_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .project_title {
    margin-bottom: 84px;
  }
  .project_item-img {
    padding: 12px 14px;
    min-height: 282px;
    width: 317px;
    margin: 0 12px;
  }
  .project_item-inner {
    min-height: 256px;
  }
  .project_item-info, .project_item-zoom {
    width: 38px;
    height: 38px;
    margin: 0 7px;
  }
  .project_item-link {
    padding: 30px 0;
  }
}
@media (min-width: 1440px) {
  .project_items {
    flex-wrap: inherit;
  }
  .project_item-img {
    padding: 12px 14px;
    min-height: 239px;
    width: 262px;
    margin: 0 12px;
  }
  .project_item-inner {
    min-height: 217px;
  }
  .project_item-info, .project_item-zoom {
    width: 32px;
    height: 32px;
  }
}
.team {
  padding: 20px 0 40px;
  text-align: center;
}
.team_images {
  width: 100%;
  margin-bottom: 43px;
  border-radius: 4px;
}
.team_title {
  color: #4a4a4a;
  margin-bottom: 23px;
}
.team_text {
  margin-bottom: 84px;
}
.team_button {
  width: 230px;
  height: 60px;
  background-color: #2B4074;
  color: #F9F6E5;
  border-radius: 3px;
  font-size: 20px;
  line-height: 18px;
  border: none;
  text-transform: uppercase;
}

@media (min-width: 640px) {
  .team {
    padding: 46px 0 53px;
  }
  .team_images {
    margin-bottom: 46px;
  }
  .team_title {
    margin-bottom: 40px;
    font-size: 36px;
  }
  .team_title::after {
    width: 100px;
  }
  .team_text {
    margin-bottom: 56px;
  }
}
@media (min-width: 768px) {
  .team {
    text-align: left;
    padding: 39px 0 48px;
  }
  .team_inner {
    display: flex;
  }
  .team_images {
    max-width: 240px;
    height: 100%;
    margin-right: 34px;
    margin-bottom: 0px;
  }
  .team_title {
    margin-bottom: 7px;
  }
  .team_title::after {
    margin-left: 0;
  }
  .team_text {
    font-size: 18px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1024px) {
  .team {
    padding: 80px 0;
  }
  .team_images {
    max-width: 401px;
    margin-right: 60px;
  }
  .team_title {
    margin-top: 10px;
    margin-bottom: 19px;
    padding-bottom: 23px;
  }
  .team_text {
    line-height: 24px;
    margin-bottom: 19px;
  }
}
@media (min-width: 1440px) {
  .team {
    padding: 50px 0 109px;
  }
  .team_images {
    max-width: 460px;
    margin-right: 100px;
  }
  .team_title {
    margin-top: 0;
    margin-bottom: 39px;
    padding-bottom: 38px;
  }
  .team_text {
    margin-bottom: 39px;
    width: 553px;
  }
}
.news {
  text-align: center;
  background-color: #F9F6E5;
  padding: 40px 0;
}
.news_title {
  margin-bottom: 40px;
  color: #4a4a4a;
}
.news_item-img {
  width: 270px;
  height: 443px;
  border-radius: 4px;
  margin: 0 auto 21px;
  position: relative;
  display: inline-block;
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
}
.news_item-info {
  position: absolute;
  display: none;
  top: 178px;
  left: 120px;
}
.news_item-title {
  position: absolute;
  background-color: #fff;
  display: block;
  width: 100%;
  height: 40px;
  padding: 8px 0 0 20px;
  text-align: left;
  color: #4a4a4a;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 2px;
  bottom: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}/*# sourceMappingURL=style.css.map */